@model IEnumerable<SkiGes_v1._0.Models.Partie>

@{
    ViewBag.Title = "User DashBoard";
    ViewBag.Range = 100;
    if (Session["UserType"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}
<html>

<body>

    
    <div class="jumbotron">
            @if (Session["UserName"] != null)
            {
                <h1>Welcome @Session["UserName"].ToString() ! </h1>
            }
        <p class="lead">Choose your range preferencies: 
        <input type="text" id="range" name="range" value=""/></p>


       <p>@Html.ActionLink("Find the nearest parties", "PartiesInZone", new { range = ViewBag.Range },  new { @class = "btn btn-primary btn-large" })</p>
    </div>
</body>
</html>