
@{
    ViewBag.Title = "NearestParty";
    if(Session["UserType"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>NearestParty</h2>

<div>
    <h1>@Session["PartyName"]</h1>
</div>
