@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SkiGes</h1>
    <p class="lead">Welcome to Panamea services, we hope you'll have a great experience with us !</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>