@{
    ViewBag.Title = "Home Page";
}
<html>

<body>
    <div class="jumbotron">
        <h1>SkiGes</h1>
        <p class="lead">Welcome to Panamea services, we hope you'll have a great experience with us !</p>
        <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
    </div>

    
</body>
</html>